#body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#central-container {
  background-color: #FFFAF8;
  position: relative;
  top: 80px;
  bottom: 80px;
  height: auto;
  width: auto;
  height: 90vh;
  width: 150vh;
}

#central-container > * {
  position: absolute;
}

.left {
  left: 0;
  padding: 5px;
}

.right {
  right: 0;
  padding: 5px;
}

#navbar {
  position: fixed;
  z-index: 9999;
  width: 150vh;
  height: 80px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
}

#navbar > p {
  margin: 0;
}

#footer {
  background-color: white;
  position: fixed;
  width: 150vh;
  height: 80px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
}
